*{
	margin: 0;
	padding: 0;
}
header{
	width: 100%;
	background: #1F9EEE;
	height: 70px;
	position: fixed;
	z-index: 10;
}
.ancho{
	width: 80%;
	height: 70px;
	background: #1F9EEE;
	margin: auto;
}
.logo{
	width: 30px;
	height: 70px;
	background: #1F9EEE;
	float: left;
	padding-top: 10px;
	box-sizing: border-box;
}
.logo p a{
	color: #fff;
	font-size: 36px;
	text-decoration: none;
	font-family: rale;

@font-face{
	font-family: rale;	
	src: url(../FUENTES/Raleway-Regular.ttf);
} 