.red{
	position: fixed;
	top: 300px;
	z-index: 100;
	left: 0;
}
#facebook a{
	background: #3b5998;
	padding: 10px 25px;
	color: #fff;
	text-decoration: none;
	width: 55px;
	transition: all .4s ease;
}
#facebook a:hover{
	background: #3b5998;
	padding: 10px 50px;
}