.red{
	position: fixed;
	top: 300px;
	z-index: 100;
	left: 0;
}
#facebook a{
	background: #3b5998;
	padding: 10px 25px;
	color: #fff;
	text-decoration: none;
	width: 55px;
	transition: all .4s ease;
}
#facebook a:hover{
	background: #3b5998;
	padding: 10px 50px;
}
#mail a{
	background: #dd4b39;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
	width: 55px;
	transition: all .4s ease;
}
#mail a:hover{
	background: #dd4b39;
	padding: 10px 50px;
}#whatsapp a{
	background:  #4dc247;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
	width: 55px;
	transition: all .4s ease;
}
#whatsapp a:hover{
	background: #4dc247;
	padding: 10px 50px;
}
#youtube a{
	background: #bb0000;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
	width: 55px;
	transition: all .4s ease;
}
#youtube a:hover{
	background: #bb0000;
	padding: 10px 50px;
}
