@import url('https://fonts.googleapis.com/css?family=Jura');
*{
	box-sizing: border-box;
}
h3 {
	font-family: 'Jura', sans-serif;
	font-size: 20px;
	line-height: 1.5;
	padding-top: 20px;
	font-weight: normal;
	color: #777;
}
.banner{
	margin-top: 50px;
	background: #FFEB3B;
	float: left;
	width: 100%;
	height: 250px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	transition 0.4s;
}
.banner:hover{
	background: #444;
	transition: 0.4s;
}
.banner h3{
	
	color: #fff;
	font-size: 32px;
	height: 100%;
	padding-top: 8%;
}
.banner a{
	text-decoration: none;
	margin-left: 20px;
	font-weight: bold;
	color: #fff;
	border-bottom: 2px solid #fff;
}
.banner-1{
	width: 100%;
	background: #8BC34A;
	clear: both;
	height: 250px;
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	text-align: center;
	transition 0.4s;
}
.banner-1:hover{
	background: #444;
	transition: 0.4s;
}
.banner-1 h3{
	color: #fff;
	font-size: 32px;
	padding-top: 6%;
}
.banner-1 a{
	text-decoration: none;
	margin-left: 20px;
	font-weight: bold;
	color: #fff;
	border-bottom: 2px solid #fff;
}
.banner-2{
	width: 100%;
	background: #795548;
	clear: both;
	float: center;
	height: 250px;
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	text-align: center;
	transition 0.4s;
}
.banner-2:hover{
	background: #444;
	transition: 0.4s;
}
.banner-2 h3{
	color: #fff;
	font-size: 32px;
	padding-top: 6%;
}
.banner-2 a{
	text-decoration: none;
	margin-left: 20px;
	font-weight: bold;
	color: #fff;
	border-bottom: 2px solid #fff;
}
.banner-3{
	width: 100%;
	background: #FF5722;
	clear: both;
	float: center;
	height: 250px;
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	text-align: center;
	transition 0.4s;
}
.banner-3:hover{
	background: #444;
	transition: 0.4s;
}
.banner-3 h3{
	color: #fff;
	font-size: 32px;
	padding-top: 6%;
}
.banner-3 a{
	text-decoration: none;
	margin-left: 20px;
	font-weight: bold;
	color: #fff;
	border-bottom: 2px solid #fff;
}